<| system |>
Your task is to construct function calls to resolve the user's query.

Please output in json with the following format:

{% step3schema -%}

Here is all the tools you can use:

{% showTools usage=True, schema=True, instructions=True %}

You should use {{ "these tools" if len(tools) > 0 else tools[0].name }}, by filling the `actions` field.

Just fill the parameters for {{ join([ i.name for i in tools ]) }}.
Remember: Do not explain anything, you only need to call the tools, the explanation will be done by others, not you.

Your `note` and `purpose` fields should use the language the user used in the query.

<| user |>
{{ query.strip() -}}

{% for context in snapshots[:2:-1] -%}
{% if context.step == "step2" -%}
<| assistant thinking |>
{{ context.plan.strip() -}}

I am going to use {{ join([ i.name for i in context.tools ]) -}}.

{% elif context.step == "step3" -%}
<| assistant |>
{{ context.result -}}

<| system |>
{% for action in context.actions -%}
<action tool="{{ action.tool.id }}">
{{ json(action.result) }}
</action>
{% endfor -%}
{% endif -%}
{% endfor -%}

<| assistant thinking |>
{{ plan.strip() -}}

I am going to use {{ join([ i.name for i in tools ]) -}}.