on: [push, pull_request, workflow_dispatch]

jobs:
    checks:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5
            - uses: astral-sh/setup-uv@v7
              with:
                  python-version: 3.13
                  activate-environment: true
            - name: install
              run: uv export --no-hashes | uv pip install -r - basedpyright

            - name: isort
              run: isort . --check --diff

            - name: black
              run: black . --check --diff

            - name: ruff
              run: ruff check --output-format github

            - name: pyright
              run: basedpyright

    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: astral-sh/setup-uv@v7
              with:
                  python-version: 3.13
            - name: build
              run: |
                  uv build

            - uses: actions/upload-artifact@v4
              with:
                  name: dist
                  path: dist

    publish:
        runs-on: ubuntu-latest
        needs: [build, checks]
        permissions:
            id-token: write
        steps:
            - uses: actions/download-artifact@v6
              with:
                  name: dist
                  path: dist
            - uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  skip-existing: true
                  print-hash: true
                  verbose: true
